<% hide_footer %>

<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <%= link_to root_path do %>
      <%= image_tag "mailpals_logo_rect.png", alt: "Mailpals logo", class: "mx-auto h-16 w-auto" %>
    <% end %>
    <h2 class="mt-4 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign in</h2>
  </div>

  <div class="mt-4 sm:mx-auto sm:w-full sm:max-w-sm">
    <%= form_with(url: sign_in_path, class: "space-y-6") do |form| %>
      <div>
        <%= form.label :email, class: "block text-sm font-medium leading-6 text-gray-900" %>
        <div class="mt-2">
          <%= form.email_field :email, value: params[:email_hint], required: true, autofocus: true, autocomplete: "email", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <div>
        <%= form.label :password, class: "block text-sm font-medium leading-6 text-gray-900" %>
        <div class="mt-2">
          <%= form.password_field :password, required: true, autocomplete: "current-password", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <div>
        <%= form.submit "Sign in", class: "button w-full" %>
      </div>
    <% end %>

    <p class="mt-10 text-center text-sm text-gray-500">
      Don't have an account?
      <%= link_to "Sign up", sign_up_path, class: "font-semibold leading-6" %> |
      <%= link_to "Forgot your password?", new_identity_password_reset_path, class: "font-semibold leading-6" %>
    </p>
  </div>
</div>
