<div id="<%= dom_id comment %>"class="p-2 bg-gray-50 rounded <%= params[:comment] == comment.id.to_s ? 'bg-yellow-200' : '' %>">
  <p class="text-sm">
    <strong><%= comment.member.display_name %>:</strong> <%= comment.content %>
    <span class="text-gray-500 text-xs ml-2">
      <%= time_ago_in_words(comment.created_at) %> ago
    </span>
  </p>
</div>
