<div class="theme--<%= @issue.club.theme || 'base' %> md:max-w-2xl md:mx-auto pt-15 overflow-auto">
  <div class="w-full md:max-w-[650px] md:mx-auto mb-8 overflow-visible">
    <h1 class="my-1"><%= @issue.club.title %></h1>
    <h3 class=""><%= @issue.title %> | <%= @issue.deliver_at.strftime("%B %d, %Y") %></h4>
    <hr class="my-1">
    <p class="text-sm m-0 secondary-color">Made by <%= @issue.club.members.active.pluck(:display_name).to_sentence %></p>

    <% @issue.sections_questions_answers(nil, @issue.club.visible_members(@member || @issue.club.membership(current_user))).each do |section| %>
      <div class="mt-10">
        <% if section[:key] != "questions" %>
          <h2 class="font-semibold"><%= t("clubs.sections.#{section[:key]}.title") %></h3>
        <% end %>

        <% section[:questions].each do |qa| %>
          <div class="">
            <% if qa[:question].section == "questions" %>
              <h3 class="font-semibold"><%= qa[:question].prompt %></h3>
            <% end %>

            <% qa[:answers].each do |answer| %>
              <div class="mt-5">
                <% if answer.images.attached? %>
                  <% answer.images.each do |image| %>
                    <div class="mt-5 overflow-hidden">
                      <%= image_tag url_for(image), alt: "Image from #{answer.member.display_name}", class: "max-w-full h-auto align-middle inline-block" %>
                      <p class="p-5 m-0 text-sm border-l-2"><strong><%= answer.member.display_name %></strong><%= "<span class='font-normal'> #{answer.content}</span>" if answer.content.present? %></p>
                    </div>
                  <% end %>
                <% else %>
                  <p class="p-5 m-0 border-l-2 text-sm"><strong><%= answer.member.display_name %></strong><span class="font-normal"><%= " #{answer.content}" if answer.content.present? %></span></p>
                <% end %>
                <div class="mt-2 font-light text-xs">
                  <%= link_to club_issue_url(@issue.club, @issue, anchor: "answer-#{answer.id}", params: { answer: answer.id }), class: "text-sm text-gray-500 hover:text-gray-700" do %>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 inline-block mr-1">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 01.865-.501 48.172 48.172 0 003.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" />
                    </svg>
                    Add Comment
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if @issue.club.upcoming_issue.present? %>
      <div class="mt-10 text-center">
        The next issue of <a href="<%= club_url(@issue.club) %>" class="italic underline underline-offset-2"><%= @issue.club.title %></a> will be delivered
        on <strong><%= @issue.club.upcoming_issue.deliver_at.strftime("%B %d, %Y") %></strong>
      </div>
    <% end %>
    <div class="mt-10 text-center">
      <%= link_to root_url do %>
        <%= image_tag 'mailpals_logo_rect.png', alt: 'MailPals Logo', class: 'w-24 mx-auto' %>
      <% end %>
    </div>
  </div>
</div>