<div class="theme--<%= @issue.club.theme || 'base' %> md:max-w-2xl md:mx-auto pt-15 overflow-auto">
  <div class="w-full md:max-w-[650px] md:mx-auto mb-8 overflow-visible">
    <h1 class="my-1"><%= @issue.club.title %></h1>
    <h3 class=""><%= @issue.title %> | <%= @issue.deliver_at.strftime("%B %d, %Y") %></h3>
    <hr class="my-1">
    <p class="text-sm m-0 secondary-color">Made by <%= @issue.club.members.active.pluck(:display_name).to_sentence %></p>

    <% @issue.sections_questions_answers(nil, @issue.club.visible_members(@member || @issue.club.membership(current_user))).each do |section| %>
      <div class="mt-10">
        <% if section[:key] != "questions" %>
          <h3 class="font-semibold"><%= t("clubs.sections.#{section[:key]}.title") %></h3>
        <% end %>

        <% section[:questions].each do |qa| %>
          <div class="">
            <% if qa[:question].section == "questions" %>
              <h3 class="font-semibold"><%= qa[:question].prompt %></h3>
            <% end %>
            <div class="flex flex-col space-y-4 mt-4">
              <%= render qa[:answers].reject(&:unanswered?) %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if @issue.club.upcoming_issue.present? %>
      <div class="mt-10 text-center">
        The next issue of <a href="<%= club_url(@issue.club) %>" class="italic underline underline-offset-2"><%= @issue.club.title %></a> will be delivered
        on <strong><%= @issue.club.upcoming_issue.deliver_at.strftime("%B %d, %Y") %></strong>
      </div>
    <% end %>

    <% if @unsubscribe_token&.present? %>
      <p class="mt-12 text-xs text-gray-500">If you don't want to be a part of the club, you can <%= link_to "remove yourself by clicking here.", unsubscribe_club_url(token: @unsubscribe_token), class: "underline" %></p>
    <% end %>

    <div class="mt-10 text-center">
      <%= link_to root_url do %>
        <%= image_tag 'mailpals_logo_rect.png', alt: 'MailPals Logo', class: 'w-24 mx-auto' %>
      <% end %>
    </div>
  </div>
</div>
