<div class="md:max-w-2xl md:mx-auto pt-15 overflow-auto">
  <div class="w-full md:max-w-[650px] md:mx-auto mb-8 overflow-visible">
    <h1 class="text-2xl my-1"><%= @club.title %></h1>
    <h3 class="text-lg"><%= @issue.title %> | <%= @issue.deliver_at.strftime("%B %d, %Y") %></h3>
    <hr class="my-1">

    <p class="mt-5">Hello <%= @member.display_name %>,</p>

    <p class="mt-5">The latest issue of <%= @club.title %> is now open for replies. Don't miss out on sharing your thoughts!</p>

    <div class="mt-5 text-center">
      <%= link_to "Reply Now", club_issue_new_reply_url(@club, @issue), class: "inline-block px-4 py-2 bg-[var(--primary-color)] text-white rounded" %>
    </div>

    <p class="mt-5">The deadline for replies is <strong><%= (@issue.deliver_at - 1.minute).in_time_zone(@member.user.timezone).strftime("%A, %B %d at %I:%M %p %Z") %></strong>.</p>

    <p class="mt-5">We look forward to reading your response!</p>

    <div class="mt-10 text-center">
      <%= link_to root_url do %>
        <%= image_tag 'mailpals_logo_rect.png', alt: 'MailPals Logo', class: 'w-24 mx-auto' %>
      <% end %>
    </div>
  </div>
</div>