<% content ||= yield %>
<div data-controller="modal" data-modal-required-input-value="<%= local_assigns[:required_input] %>">
  <button data-action="click->modal#open" data-modal-target="<%= modal_id %>" class="<%= button_classes %>">
    <%= button_text.is_a?(Proc) ? capture(&button_text) : button_text %>
  </button>
  <div id="<%= modal_id %>" class="hidden fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full" data-modal-target="modal">
    <div class="relative top-20 mx-auto p-4 w-11/12 md:w-1/3 shadow-lg frame">
      <div class="text-center">
        <h3 class="mt-0"><%= title %></h3>
        <button type="button" data-action="click->modal#close" class="absolute top-2 right-2 text-[var(--secondary-color)] opacity-80 hover:opacity-100">X</button>
        <div class="mt-2 py-3">
          <% if local_assigns[:subtitle].present? %>
            <p class="text-sm text-gray-500 text-left"><%= local_assigns[:subtitle] %></p>
          <% end %>
          <%= content %>
          <% if local_assigns[:required_input] %>
            <input type="text" data-modal-target="input" data-action="input->modal#checkInput" class="mt-2 input" placeholder="<%= local_assigns[:required_input_message] || 'Enter required text' %>">
          <% end %>
        </div>
        <% if local_assigns[:confirm_button] || local_assigns[:cancel_button] %>
          <div class="mt-4 flex justify-between space-x-4">
            <% if local_assigns[:cancel_button] %>
              <%= cancel_button %>
            <% else %>
              <button type="button" class="button lame" data-action="click->modal#close">Cancel</button>
            <% end %>
            <% if local_assigns[:confirm_button] %>
              <div data-modal-target="confirmButtonParent" class="flex">
                <%= confirm_button %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>