
<div id="answer-<%= answer.id %>">
  <% if answer.images.attached? %>
    <% answer.images.each do |image| %>
      <div class="mt-5 border-[var(--primary-color)] overflow-hidden">
        <%= image_tag url_for(image), alt: "Image from #{answer.member.display_name}", class: "max-w-full h-auto align-middle inline-block" %>
        <p class="p-5 m-0 text-sm border-l-2"><strong><%= answer.member.display_name %></strong><%= "<span class='font-normal'> #{answer.content}</span>" if answer.content.present? %></p>
      </div>
    <% end %>
  <% else %>
    <p class="p-5 m-0 text-sm  border-l-2"><strong><%= answer.member.display_name %></strong><span class="font-normal"><%= " #{answer.content}" if answer.content.present? %></span></p>
  <% end %>

  <div class="mt-2" data-controller="toggle-class">
    <div class="flex items-center justify-between">
    <button class="text-sm text-gray-500 hover:text-gray-700" data-action="click->toggle-class#toggle">
      Comments (<span id="comment-count-<%= answer.id %>"><%= answer.comments.count %></span>)
    </button>
    <%= render 'shared/modal',
      modal_id: "new-comment-modal-#{answer.id}",
      button_classes: 'text-sm text-gray-500 hover:text-gray-700',
      button_text: -> do
        tag.span class: 'flex items-center' do
          # concat icon 'message-circle', class: 'w-5'
          concat "Add Comment"
        end
      end,
      title: 'Add New Comment',
      subtitle: "Add a comment to #{answer.member.display_name}'s response to '#{answer.issue_question.prompt}'",
      content: render('comments/form', comment: Comment.new, answer: answer, question: answer.issue_question.prompt, response: answer.content) %>
    </div>
  <div id="comments-<%= answer.id %>" class="<%= params[:answer] == answer.id.to_s ? '' : 'hidden' %>  mt-2 space-y-2" data-toggle-class-target="toggleable">
    <%= render answer.comments.order(created_at: :desc) %>
  </div>
  </div>
</div>